@model UserManagement.Models.User

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Username)
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>

    @*<div>
        @Html.LabelFor(m => m.Role)
        @Html.TextBoxFor(m => m.Role)
    </div>*@



    <div>
        <input type="submit" value="Save" />
    </div>
}
