@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p style="color: red;">@ViewBag.Message</p>
}

@using (Html.BeginForm())
{
    <div>
        @Html.Label("Username")
        @Html.TextBox("username")
    </div>
    <div>
        @Html.Label("Password")
        @Html.Password("password")
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
}


